<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ConventionCheckerExtension" name="ConventionCheckerExtension" schema="schema/ConcentionCheckerExtension.exsd"/>
   <extension
         id="conventionchecker"
         name="conventionchecker"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.conventionchecker.view.ConventionCheckerView">
      </view>
   </extension>

</plugin>
